<?xml version="1.0"?>
<config>
	<modules>
		<Meigee_ThemeOptionsMinimalism>
			<version>1.0</version>
			<depends>
			<!-- no dependencies -->
			</depends>
		</Meigee_ThemeOptionsMinimalism>
	</modules> 
	<admin>
		<routers>
			<adminhtml2>
				<use>admin</use>
				<args>
					<module>Meigee_ThemeOptionsMinimalism</module>
					<frontName>themeoptionsminimalism</frontName>
				</args>
			</adminhtml2>
		</routers>
	</admin>
	<frontend>
		<routers>
		   <meigeefrontend>
			  <use>standard</use>
			  <args>
				 <module>Meigee_ThemeOptionsMinimalism</module>
				 <frontName>meigeeactions</frontName>
			  </args>
		   </meigeefrontend>
		</routers>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<meigeesettings>
					<file>meigeesettings.xml</file>
				</meigeesettings>
			</updates>
		</layout>
		<menu>
			<meigee translate="title" module="ThemeOptionsMinimalism">
				<title>Meigee</title>
				<sort_order>9999</sort_order>
				<children>
					<theme_minimalism translate="title" module="ThemeOptionsMinimalism">
						<title>Minimalism</title>
						<sort_order>1</sort_order>
						<children>
							<theme_options translate="title" module="ThemeOptionsMinimalism">
								<title>Theme Options v1.4</title>
								<sort_order>1</sort_order>
								<children>
									<general_options translate="title" module="ThemeOptionsMinimalism">
										<title>General Options</title>
										<sort_order>1</sort_order>
										<action>adminhtml/system_config/edit/section/meigee_minimalism_general</action>
									</general_options>
									<design_options translate="title" module="ThemeOptionsMinimalism">
										<title>Design Options</title>
										<sort_order>2</sort_order>
										<action>adminhtml/system_config/edit/section/meigee_minimalism_design</action>
									</design_options>
									<productpage_options translate="title" module="ThemeOptionsMinimalism">
										<title>Product Page Options</title>
										<sort_order>3</sort_order>
										<action>adminhtml/system_config/edit/section/meigee_minimalism_productpage</action>
									</productpage_options>
									<sidebar_options translate="title" module="ThemeOptionsMinimalism">
										<title>Sidebar Options</title>
										<sort_order>4</sort_order>
										<action>adminhtml/system_config/edit/section/meigee_minimalism_sidebar</action>
									</sidebar_options>
									<headerslider_options translate="title" module="ThemeOptionsMinimalism">
										<title>Header Slider</title>
										<sort_order>5</sort_order>
										<action>adminhtml/system_config/edit/section/meigee_minimalism_headerslider</action>
									</headerslider_options>
									<bgslider_options translate="title" module="ThemeOptionsMinimalism">
										<title>Background Slider</title>
										<sort_order>6</sort_order>
										<action>adminhtml/system_config/edit/section/meigee_minimalism_bgslider</action>
									</bgslider_options>
								</children>
							</theme_options>
							<restore_theme translate="title" module="ThemeOptionsMinimalism">
								<title>Restore Defaults</title>
								<sort_order>1</sort_order>
								<action>themeoptionsminimalism/restore/index</action>
							</restore_theme>
							<activate_theme translate="title" module="ThemeOptionsMinimalism">
								<title>Activate Theme</title>
								<sort_order>1</sort_order>
								<action>themeoptionsminimalism/activation/index</action>
							</activate_theme>
						</children>
					</theme_minimalism>
				</children>
			</meigee>
		</menu>
		<events>
		    <controller_action_predispatch>
                <observers>
                    <themeoptionsminimalism_notification>
                        <type>singleton</type>
                        <class>Meigee_ThemeOptionsMinimalism_Model_Feed</class>
                        <method>observe</method>
                    </themeoptionsminimalism_notification>
                </observers>
            </controller_action_predispatch>
		</events>
	</adminhtml>
	<global>
		<models>
			<ThemeOptionsMinimalism><class>Meigee_ThemeOptionsMinimalism_Model</class></ThemeOptionsMinimalism>
		</models>
		<resources>
		    <themeoptionsminimalism_setup>
		      <setup>
		        <module>Meigee_ThemeOptionsMinimalism</module>
		        <class>Meigee_ThemeOptionsMinimalism_Model_Resource_Eav_Mysql4_Setup</class>
		      </setup>
		      <connection>
		        <use>core_setup</use>
		      </connection>
		    </themeoptionsminimalism_setup>
		    <themeoptionsminimalism_write>
		      <connection>
		        <use>core_write</use>
		      </connection>
		    </themeoptionsminimalism_write>
		    <themeoptionsminimalism_read>
		      <connection>
		        <use>core_read</use>
		      </connection>
		    </themeoptionsminimalism_read>
		</resources>
		<events>
			<adminhtml_controller_action_predispatch_start>
				<observers>
					<Meigee_ThemeOptionsMinimalism_observer>
						<type>singleton</type>
						<class>Meigee_ThemeOptionsMinimalism_Controller_Observer</class>
						<method>overrideTheme</method>
					</Meigee_ThemeOptionsMinimalism_observer>
				</observers>
			</adminhtml_controller_action_predispatch_start>  	
			<controller_action_postdispatch_adminhtml_system_config_save>
				<observers>
					<themeoptionsminimalism_awesome>
						<type>singleton</type>
						<class>Meigee_ThemeOptionsMinimalism_Model_Observer</class>
						<method>cssgenerate</method>
					</themeoptionsminimalism_awesome>
				</observers>
			</controller_action_postdispatch_adminhtml_system_config_save>
		</events>
		<helpers>
			<ThemeOptionsMinimalism><class>Meigee_ThemeOptionsMinimalism_Helper</class></ThemeOptionsMinimalism>
			<configurableswatches>
				<rewrite>
					<mediafallback>Meigee_ThemeOptionsMinimalism_Helper_Mediafallback</mediafallback>
				</rewrite>
			</configurableswatches>
		</helpers>
		<extraconfig />
		<blocks>
			<meigee_themeoptionsminimalism><class>Meigee_ThemeOptionsMinimalism_Block</class></meigee_themeoptionsminimalism>
			<themeoptionsminimalism><class>Meigee_ThemeOptionsMinimalism_Block</class></themeoptionsminimalism>
			<meigee_minimalism_general><class>Meigee_ThemeOptionsMinimalism_Block</class></meigee_minimalism_general>
			<meigee_minimalism_productpage><class>Meigee_ThemeOptionsMinimalism_Block</class></meigee_minimalism_productpage>
			<meigee_minimalism_sidebar><class>Meigee_ThemeOptionsMinimalism_Block</class></meigee_minimalism_sidebar>
			<meigee_minimalism_headerslider><class>Meigee_ThemeOptionsMinimalism_Block</class></meigee_minimalism_headerslider>
			<meigee_minimalism_bgslider><class>Meigee_ThemeOptionsMinimalism_Block</class></meigee_minimalism_bgslider>
			<!-- <page>
				<rewrite>
					<html_topmenu>Meigee_ThemeOptionsMinimalism_Block_Html_Topmenu</html_topmenu>
				</rewrite>
			</page> -->
			<customcolorsblock>
				<class>Meigee_ThemeOptionsMinimalism_Block_EditCustomColors</class>
			</customcolorsblock>
		</blocks>
	</global>
	<!---->
	<default>
		<iwdall>
			<default>
				<jquery>0</jquery>
			</default>
		</iwdall>
		<onepagecheckout>
			<general>
				<enabled>1</enabled>
			</general>
		</onepagecheckout>
		<price_slider>
		<price_slider_conf>
			<timeout>100</timeout>
		</price_slider_conf>
		<price_slider_settings>
			<slider_loader_active>1</slider_loader_active>
			<include_jquery_ui>1</include_jquery_ui>
		</price_slider_settings>
		<ajax_conf>
			<layered>1</layered>
			<overlay_color>#000000</overlay_color>
			<overlay_opacity>0.3</overlay_opacity>
			<loading_text_color>#000000</loading_text_color>
		</ajax_conf>
		</price_slider>
		<design>
		<header translate="welcome" module="page">
			<welcome>Default welcome msg!</welcome>
		</header>
		<footer translate="copyright" module="page">
			<copyright>&amp;copy; 2012 Magento Demo Store. All Rights Reserved.</copyright>
		</footer>
		 </design>
		 <meigee_minimalism_general>
			<retina>
				<status>1</status>
			</retina>
			<header>
				<headertype>1</headertype>
				<floatingheader>1</floatingheader>
			</header>
			<footer>
				<footer_status>1</footer_status>
				<footer_static>minimalism_footer</footer_static>
				<map>1</map>
				<aboutus>minimalism_footer_about_us</aboutus>
				<info>minimalism_footer_info</info>
				<latitude>40.69370</latitude>
				<longitude>-73.94738</longitude>
				<mapzoom>15</mapzoom>
				<maptype>ROADMAP</maptype>
				<marker>1</marker>
				<markertitle>Brooklyn, NY, United States</markertitle>
			</footer>
			<layout>
				<sitelayout>0</sitelayout>
				<responsiveness>1</responsiveness>
				<cartpage>cart_standard</cartpage>
				<rtl>0</rtl>
			</layout>
			<customlogo>
				<logo_status>0</logo_status>
				<small_logo_status>0</small_logo_status>
			</customlogo>
			<newsletter>
				<location>0</location>
				<onlyhome>0</onlyhome>
				<cookielifetime>30</cookielifetime>
				<bgoption>3</bgoption>
				<popupwidth>828</popupwidth>
				<popupheight>400</popupheight>
				<formobile>1</formobile>
				<fortablet>1</fortablet>
			</newsletter>
			<productlisting>
				<sidebar>sidebar_left</sidebar>
				<grid>3</grid>
				<quickview>1</quickview>
				<productname>1</productname>
				<productprice>1</productprice>
				<addtocart>1</addtocart>
				<compareproducts>1</compareproducts>
				<wishlist>1</wishlist>
				<mailtofriend>1</mailtofriend>
			</productlisting>
			<productimages>
				<customAspectRatio>999</customAspectRatio>
			</productimages>
			<productlabels>
				<labelnew>1</labelnew>
				<labelonsale>1</labelonsale>
				<labelonlyxleft>0</labelonlyxleft>
				<salepercentage>1</salepercentage>
				<labelsorder>new_sale</labelsorder>
				<labelsposition>top-right</labelsposition>
				<labelview>label-type-2</labelview>
			</productlabels>
			<otheroptions>
				<totop>1</totop>
				<notices>1</notices>
			</otheroptions>
			<loginajax>
				<status>1</status>
			</loginajax>
			<lang_switcher>
				<status>language_select</status>
				<label>0</label>
			</lang_switcher>
			<curr_switcher>
				<status>currency_select</status>
				<label>0</label>
			</curr_switcher>
			<fancybox>
				<fancybox_status>0</fancybox_status>
				<fancybox_widgets>0</fancybox_widgets>
				<fancybox_listing>0</fancybox_listing>
				<fancybox_product>0</fancybox_product>
			</fancybox>
			<rollover>
				<rollover_status>1</rollover_status>
				<rollover_type>1</rollover_type>
			</rollover>
		</meigee_minimalism_general>
		<meigee_minimalism_design>
			<appearance>
				<font>1</font>
				<default_sizes>1</default_sizes>
				<fontsize>14</fontsize>
				<gfont>Montserrat</gfont>
				<lineheight>20</lineheight>
				<fontweight>100</fontweight>
				<patern>none</patern>
				<custompatern>0</custompatern>
			</appearance>
			<icons>
				<search>fa-search</search>
				<headercart>fa-shopping-cart</headercart>
				<editproduct>fa-pencil</editproduct>
				<editaccount>fa-pencil</editaccount>
				<quickview>fa-search</quickview>
				<fancybox>fa-search</fancybox>
				<compare>fa-exchange</compare>
				<wishlist>fa-heart</wishlist>
				<emailfiend>fa-envelope-o</emailfiend>
				<descreaseqty>fa-minus</descreaseqty>
				<increaseqty>fa-plus</increaseqty>
				<mobilemenu>fa-align-justify</mobilemenu>
			</icons>
			<base>
				<base_override>0</base_override>
				<sitebg>ffffff</sitebg>
				<maincolor>444</maincolor>
				<secondcolor>60a5cd</secondcolor>
			</base>
			<catlabels>
				<label_one>eb4c4c</label_one>
				<label_one_color>fff</label_one_color>
				<label_one_h>9ede42</label_one_h>
				<label_one_color_h>fff</label_one_color_h>
				<label_two>4d8ab0</label_two>
				<label_two_color>fff</label_two_color>
				<label_two_h>4fa9e1</label_two_h>
				<label_two_color_h>fff</label_two_color_h>
				<label_three>FF712F</label_three>
				<label_three_color>fff</label_three_color>
				<label_three_h>FF712F</label_three_h>
				<label_three_color_h>fff</label_three_color_h>
			</catlabels>
			<header>
				<header_bg>ffffff</header_bg>
				<header_text>aaaaaa</header_text>
				<header_link>60a5cd</header_link>
				<header_link_h>444444</header_link_h>
				<header_border>f3f3f3</header_border>
				<header_border_width>1</header_border_width>
				<links_bg>ffffff</links_bg>
				<links_text>aaaaaa</links_text>
				<links_bg_h>444444</links_bg_h>
				<links_text_h>aaaaaa</links_text_h>
				<links_dropdown_bg>ffffff</links_dropdown_bg>
				<links_dropdown_border>dddddd</links_dropdown_border>
				<links_dropdown_border_width>1</links_dropdown_border_width>
				<links_dropdown_link_bg>ffffff</links_dropdown_link_bg>
				<links_dropdown_link_color>888888</links_dropdown_link_color>
				<links_dropdown_divider>f5f5f5</links_dropdown_divider>
				<links_dropdown_divider_width>1</links_dropdown_divider_width>
				<links_dropdown_link_bg_h>f5f5f5</links_dropdown_link_bg_h>
				<links_dropdown_link_color_h>888888</links_dropdown_link_color_h>
				<links_dropdown_divider_h>f5f5f5</links_dropdown_divider_h>
				<cart_icon_color>60a5cd</cart_icon_color>
				<cart_icon_color_h>60a5cd</cart_icon_color_h>
				<cart_count>444444</cart_count>
				<cart_count_h>444444</cart_count_h>
				<cart_dropdown_bg>ffffff</cart_dropdown_bg>
				<cart_dropdown_border>dddddd</cart_dropdown_border>
				<cart_dropdown_border_width>1</cart_dropdown_border_width>
				<cart_dropdown_divider>eeeeee</cart_dropdown_divider>
				<cart_dropdown_divider_width>1</cart_dropdown_divider_width>
				<cart_dropdown_product_title>444444</cart_dropdown_product_title>
				<cart_dropdown_product_title_h>000000</cart_dropdown_product_title_h>
				<cart_dropdown_product_price>60a5cd</cart_dropdown_product_price>
				<cart_dropdown_count_bg>444444</cart_dropdown_count_bg>
				<cart_dropdown_count_text>ffffff</cart_dropdown_count_text>
				<cart_dropdown_icons>cccccc</cart_dropdown_icons>
				<cart_dropdown_icons_h>888888</cart_dropdown_icons_h>
				<cart_dropdown_product_label>888888</cart_dropdown_product_label>
				<cart_dropdown_product_options>666666</cart_dropdown_product_options>
				<cart_dropdown_total_label>444444</cart_dropdown_total_label>
				<cart_dropdown_total_price>60a5cd</cart_dropdown_total_price>
				<search_bg>ffffff</search_bg>
				<search_border>d8d8d8</search_border>
				<search_text>aaaaaa</search_text>
				<search_bg_a>ffffff</search_bg_a>
				<search_border_a>d8d8d8</search_border_a>
				<search_text_a>aaaaaa</search_text_a>
				<search_button_border>cdcdcd</search_button_border>
				<search_button_bg>ffffff</search_button_bg>
				<search_button_color>cdcdcd</search_button_color>
				<search_button_border_h>cdcdcd</search_button_border_h>
				<search_button_bg_h>ffffff</search_button_bg_h>
				<search_button_color_h>cdcdcd</search_button_color_h>
				<search_button_bg_a>444444</search_button_bg_a>
				<search_button_border_a>444444</search_button_border_a>
				<search_button_color_a>ffffff</search_button_color_a>
				<login_bg>ffffff</login_bg>
				<login_title_bg>000000</login_title_bg>
				<login_title_color>ffffff</login_title_color>
				<login_subtitle>444444</login_subtitle>
				<login_label>666666</login_label>
				<login_link_color>bbbbbb</login_link_color>
				<login_link_color_h>444444</login_link_color_h>
				<login_icon_color>aaaaaa</login_icon_color>
				<login_icon_color_h>dddddd</login_icon_color_h>
				<login_switcher_bg>60a5cd</login_switcher_bg>
				<login_switcher_text>ffffff</login_switcher_text>
				<login_switcher_bg_h>444444</login_switcher_bg_h>
				<login_switcher_text_h>ffffff</login_switcher_text_h>
				<login_system_text>e85131</login_system_text>
				<login_input_bg>ffffff</login_input_bg>
				<login_input_border>eeeeee</login_input_border>
				<login_input_border_width>1</login_input_border_width>
				<login_input_text>888888</login_input_text>
				<login_divider>dddddd</login_divider>
				<login_divider_width>1</login_divider_width>
			</header>
			<menu>
				<menu_bg>ffffff</menu_bg>
				<link_bg>ffffff</link_bg>
				<link_color>444444</link_color>
				<link_bg_h>60a5cd</link_bg_h>
				<link_color_h>ffffff</link_color_h>
				<link_underscore>ffffff</link_underscore>
				<submenu_bg>ffffff</submenu_bg>
				<submenu_border>f3f3f3</submenu_border>
				<submenu_border_width>1</submenu_border_width>
				<submenu_text>888888</submenu_text>
				<submenu_links>60a5cd</submenu_links>
				<submenu_links_h>444444</submenu_links_h>
				<submenu_borders>f3f3f3</submenu_borders>
				<submenu_borders_width>1</submenu_borders_width>
				<submenu_top_content_links_bg>ffffff</submenu_top_content_links_bg>
				<submenu_top_content_links>60a5cd</submenu_top_content_links>
				<submenu_top_content_links_bg_h>f5f5f5</submenu_top_content_links_bg_h>
				<submenu_top_content_links_h>909090</submenu_top_content_links_h>
				<submenu_top_link_color>444444</submenu_top_link_color>
				<submenu_top_link_color_h>60a5cd</submenu_top_link_color_h>
				<submenu_link_color>444444</submenu_link_color>
				<submenu_link_number_color>bbbbbb</submenu_link_number_color>
				<submenu_link_color_h>60a5cd</submenu_link_color_h>
				<submenu_link_number_color_h>bbbbbb</submenu_link_number_color_h>
				<subcategory_top_content_bg>f5f5f5</subcategory_top_content_bg>
				<subcategory_top_content_icon>444444</subcategory_top_content_icon>
				<subcategory_top_content_text>444444</subcategory_top_content_text>
			</menu>
			<headerslider>
				<slide1_text>444444</slide1_text>
				<slide2_text>444444</slide2_text>
				<slide3_text>444444</slide3_text>
				<slide4_text>444444</slide4_text>
				<buttons_bg_select>0</buttons_bg_select>
				<buttons_bg>ffffff</buttons_bg>
				<buttons_border>c2c3c4</buttons_border>
				<buttons_icon>c2c1c5</buttons_icon>
				<buttons_bg_h>757577</buttons_bg_h>
				<buttons_border_h>757577</buttons_border_h>
				<buttons_icon_h>ffffff</buttons_icon_h>
			</headerslider>
			<content>
				<title_color>444444</title_color>
				<label_bg>f5f5f5</label_bg>
				<label_text>444444</label_text>
				<select_bg>ffffff</select_bg>
				<select_border>eeeeee</select_border>
				<select_text>888888</select_text>
				<select_bg_h>eeeeee</select_bg_h>
				<select_border_h>eeeeee</select_border_h>
				<select_text_h>aaaaaa</select_text_h>
				<dropdown_link_bg>eeeeee</dropdown_link_bg>
				<dropdown_link>888888</dropdown_link>
				<dropdown_link_bg_h>dddddd</dropdown_link_bg_h>
				<dropdown_link_h>888888</dropdown_link_h>
				<buttons_bg>ffffff</buttons_bg>
				<buttons_border>eeeeee</buttons_border>
				<buttons_text_color>888888</buttons_text_color>
				<buttons_bg_h>444444</buttons_bg_h>
				<buttons_border_h>444444</buttons_border_h>
				<buttons_text_color_h>ffffff</buttons_text_color_h>
				<buttons_bg_a>444444</buttons_bg_a>
				<buttons_border_a>444444</buttons_border_a>
				<buttons_text_color_a>ffffff</buttons_text_color_a>
			</content>
			<buttons>
				<buttons1_bg>444444</buttons1_bg>
				<buttons1_text>ffffff</buttons1_text>
				<buttons1_border>444444</buttons1_border>
				<buttons1_border_width>0</buttons1_border_width>
				<buttons1_bg_h>dddddd</buttons1_bg_h>
				<buttons1_text_h>888888</buttons1_text_h>
				<buttons1_border_h>dddddd</buttons1_border_h>
				<buttons2_bg>ef3d2e</buttons2_bg>
				<buttons2_text>ffffff</buttons2_text>
				<buttons2_border>ef3d2e</buttons2_border>
				<buttons2_border_width>0</buttons2_border_width>
				<buttons2_bg_h>dddddd</buttons2_bg_h>
				<buttons2_text_h>888888</buttons2_text_h>
				<buttons2_border_h>dddddd</buttons2_border_h>
				<quick_view_bg>444444</quick_view_bg>
				<quick_view_text>ffffff</quick_view_text>
				<quick_view_border>444444</quick_view_border>
				<quick_view_border_width>0</quick_view_border_width>
				<quick_view_bg_h>60a5cd</quick_view_bg_h>
				<quick_view_text_h>ffffff</quick_view_text_h>
				<quick_view_border_h>60a5cd</quick_view_border_h>
			</buttons>
			<products>
				<product_bg>ffffff</product_bg>
				<product_border>ffffff</product_border>
				<product_border_width>0</product_border_width>
				<product_title_color>444444</product_title_color>
				<product_title_color_h>60a5cd</product_title_color_h>
				<product_text_color>888888</product_text_color>
				<product_link_color>60a5cd</product_link_color>
				<product_link_color_h>444444</product_link_color_h>
				<product_price_color>60a5cd</product_price_color>
				<product_old_price_color>cccccc</product_old_price_color>
				<product_special_price_color>60a5cd</product_special_price_color>
				<new_bg>444444</new_bg>
				<new_text>ffffff</new_text>
				<sale_bg>717171</sale_bg>
				<sale_text>ffffff</sale_text>
			</products>
			<social_links>
				<social_links_bg>ffffff</social_links_bg>
				<social_links_icon>cccccc</social_links_icon>
				<social_links_bg_h>444444</social_links_bg_h>
				<social_links_icon_h>ffffff</social_links_icon_h>
			</social_links>
			<footer>
				<footer_bg>ffffff</footer_bg>
				<footer_text>aaaaaa</footer_text>
				<footer_links>60a5cd</footer_links>
				<footer_links_h>444444</footer_links_h>
				<footer_border>eeeeee</footer_border>
				<footer_border_width>1</footer_border_width>
				<block_title>444444</block_title>
				<list_links_color>888888</list_links_color>
				<list_links_color_h>444444</list_links_color_h>
				<select_text>aaaaaa</select_text>
				<select_border>eeeeee</select_border>
				<select_bg>ffffff</select_bg>
				<select_text_h>ffffff</select_text_h>
				<select_border_h>444444</select_border_h>
				<select_bg_h>444444</select_bg_h>
				<dropdown_bg>ffffff</dropdown_bg>
				<dropdown_border>dddddd</dropdown_border>
				<dropdown_link_bg>ffffff</dropdown_link_bg>
				<dropdown_link>888888</dropdown_link>
				<dropdown_link_bg_h>f5f5f5</dropdown_link_bg_h>
				<dropdown_link_h>888888</dropdown_link_h>
				<contact_label>aaa</contact_label>
				<contact_system>e85131</contact_system>
				<contact_bg>fff</contact_bg>
				<contact_border>ddd</contact_border>
				<contact_text>aaa</contact_text>
				<tags_text>888</tags_text>
				<tags_text_h>444</tags_text_h>
				<newsletter_label>888</newsletter_label>
				<newsletter_bg>fff</newsletter_bg>
				<newsletter_text>888</newsletter_text>
				<newsletter_border>ddd</newsletter_border>
			</footer>
		</meigee_minimalism_design>
		<meigee_minimalism_productpage>
			<general>
				<collateral_related>related_slider</collateral_related>
				<relatedposition>right</relatedposition>
				<moreviews>moreviews_slider</moreviews>
				<scrollingimages>0</scrollingimages>
				<scrollingimagesheight>30</scrollingimagesheight>
				<prevnext>prevnext</prevnext>
				<product_sku>1</product_sku>
			</general>
			<layout>
				<collateral>collateral_tabs</collateral>
				<productsidebar>right</productsidebar>
				<pagelayout>productpage_medium</pagelayout>
				<collateral_position>underdetails</collateral_position>
			</layout>
			<brand>
				<productbrand>1</productbrand>
				<brandformat>.png</brandformat>
				<brandsearch>1</brandsearch>
				<brandtarget>1</brandtarget>
				<brandpos>sidebar</brandpos>
			</brand>
			<additional>
				<product_custom>minimalism_product_custom</product_custom>
			</additional>
		</meigee_minimalism_productpage>
		<meigee_minimalism_sidebar>
			<block_categories>
				<status>1</status>
				<option>1</option>
				<option_2>1</option_2>
			</block_categories>
			<block_shop_by>
				<status>1</status>
				<option>1</option>
				<option_2>1</option_2>
			</block_shop_by>
			<block_compare>
				<status>1</status>
			</block_compare>
			<block_compared>
				<status>1</status>
			</block_compared>
			<block_viewed>
				<status>1</status>
			</block_viewed>
			<block_wishlist>
				<status>1</status>
				<option>1</option>
			</block_wishlist>
			<block_tags>
				<status>1</status>
			</block_tags>
			<block_orders>
				<status>1</status>
			</block_orders>
		</meigee_minimalism_sidebar>
		<meigee_minimalism_headerslider>
			<coin>
				<enabled>1</enabled>
				<preloader>1</preloader>
				<onlyhome>1</onlyhome>
				<autoSlide>1</autoSlide>
				<slidertype>0</slidertype>
				<slides>minimalism_slide_1, minimalism_slide_2, minimalism_slide_3, minimalism_slide_4</slides>
				<autoSlideTimer>5000</autoSlideTimer>
				<autoSlideTransTimer>750</autoSlideTransTimer>
				<desktopClickDrag>1</desktopClickDrag>
				<infiniteSlider>0</infiniteSlider>
			</coin>
		</meigee_minimalism_headerslider>
		<meigee_minimalism_bgslider>
			<slideroptions>
				<enabled>0</enabled>
				<fade>750</fade>
				<duration>4000</duration>
			</slideroptions>
		</meigee_minimalism_bgslider>
		<ajax>
			<wishlistcompare>
				<enabled>1</enabled>
				<enabledpro>1</enabledpro>
			</wishlistcompare>
			<general>
				<enabled>1</enabled>
				<enabledpro>1</enabledpro>
			</general>
			<ajaxtoolbar>
				<enabled>1</enabled>
			</ajaxtoolbar>
		</ajax>
	</default>
</config>