<?xml version="1.0"?>
<config>
	<modules>
		<Meigee_MeigeewidgetsMinimalism>
			<version>0.0.1</version>
		</Meigee_MeigeewidgetsMinimalism>
	</modules>
	<global>
		<helpers>
			<meigeewidgetsminimalism>
				<class>Meigee_MeigeewidgetsMinimalism_Helper</class>
			</meigeewidgetsminimalism>
		</helpers>
		<blocks>
			 <meigeewidgetsminimalism>
				<class>Meigee_MeigeewidgetsMinimalism_Block</class>
			 </meigeewidgetsminimalism>
		</blocks>
		<models>
			<!-- ... -->
			<meigeewidgetsminimalism>
				<class>Meigee_MeigeewidgetsMinimalism_Model</class>
			</meigeewidgetsminimalism>   
			<!-- ... -->
		</models>
	</global>
	<!---->
	<frontend>
		<layout>
			<updates>
				<meigeewidgetsminimalism>
					<file>meigee/widgetoptions.xml</file>
				</meigeewidgetsminimalism>
			</updates>
		</layout>
	</frontend>
</config>